<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-light" id="navbarId" style="background-color: #b300b3;">
        <ul class="nav navbar-nav navbar-left" id="navbarList">
            <li class="nav-item">
                <a class="navbar-link navLink" href="" id="navbarMenuId">Menu</a>
            </li>
            <li>
                <a class="navbar-brand" href="" id="navbarBrandId">Home</a>
            </li>
            <li class="nav-item">
                <a class="navbar-link navLink" href="" id="navbarCreateAcctId">Log In</a>
            </li>
        </ul>
    </nav>
</html>