<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
    <nav id="navbarId"></nav>
    <div align="center">
        <p>Create an Account</p>
    </div>
    <form action="register" method="POST">
        <label for="email">Email Address:</label>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="text" id="confirmPassword" name="confirmPassword"><br>
        <input id="submit" type="submit" value="Submit"/>
    </form>

</body>
</html>