<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>This is the home page</title>
<!--    <link rel="stylesheet" href="/css/mystyles.css" id="headLink">-->
</head>
<body>
    <nav id="navbarId"></nav>
<!--    <p id="paragraphId">This is the home page!</p>-->
<!--    <a href="" id="anchor1">Create Account</a>-->
    <img src="https://t4.ftcdn.net/jpg/00/18/66/99/360_F_18669964_Txz4BS0OErzj9v9DHM3N51d8yFVa85dR.jpg" id="pizzaImgId">
    <p style="text-align: center;">James' Restaurant</p>
    <p style="text-align: center;">123 Imaginary Lane</p>
    <p style="text-align: center;">123-456-7890</p>
</body>
</html>